ul>li>a{
  text-decoration: none;
}
ul>li{
  list-style-type: none;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #f0f0f0;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #f0f0f0;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
header {
  min-height: 50px;
  padding: 20px 0 10px 0;
  background: rgb(238, 236, 236);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
  top: 0;
  z-index: 9999;
}
nav {
  padding: 1px 80px;
}
nav ul li {
  list-style-type: none;
}
ul li a {
  color: white;
}
.logo-img {
  height: 25px;
  width: 35px;
  padding: 1.5px;
}
.ul-elem {
  padding: 0;
  margin: 0;
  gap: 4px;
}
.right,
.right-item-holder {
  gap: 8px;
}
.right-item-holder {
  font-weight: 600;
  gap: 15px;
}
.sbar {
  padding: 5px 15px;
  border: 0.5px solid black;
  border-radius: 5px;
  height: 40px;
}
.sugbox {
  min-height: 60px;
  max-height: 300px;
  width: 400px;
  position: fixed;
  z-index: 10;
  top: 98px;
  right: 129px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
  overflow-y: scroll;
  background: rgba(192, 194, 192, 0.4);
  opacity: 0;
  pointer-events: none;
}
.sugbox.active {
  opacity: 1;
  pointer-events: all;
}

.sugbox::-webkit-scrollbar {
  width: 4px;
}

.sugbox::-webkit-scrollbar-track {
  background: transparent;
}

.sugbox::-webkit-scrollbar-thumb {
  background: rgb(4, 70, 114);
  border-radius: 5px;
}

.sugelem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
  width: 373px;
  padding: 5px 10px;
  font-size: x-large;
}
.sugelem:hover > .divelem {
  background: yellow;
}
.divelem {
  width: 82%;
  padding: 5px 10px;
  background: white;
}
.delbtn {
  width: 4%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: right;
  background: red;
  color: white;
}
section {
  height: 180vh;

  padding: 0 10px;
}
footer {
  min-height: 100px;
  background-color: rgb(212, 212, 214);
}
.icon-size {
  height: 25px;
  width: 30px;
}
.icon-caption {
  margin: 5px 0;
}
.sec-1 {
  height: 400px;
  padding: 10px 25px;
}
.content {
  height: 100%;
  width: 100%;

  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.left-btn {
  position: absolute;
  left: 30px;
  top: 50%;
}
.right-btn {
  position: absolute;
  right: 30px;
  top: 50%;
}
.lower-dot {
  position: absolute;
  bottom: 15px;
  left: 50%;
  gap: 10px;
}
.dot {
  height: 10px;
  width: 10px;
  border: 1px solid white;
  border-radius: 60%;
}
.sec-2 {
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 20px;
}

.sec-3 {
  height: 450px;

  margin: 10px 20px;
  padding: 10px 20px;
  gap: 15px;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: scroll;
}

.sec-3::-webkit-scrollbar {
  height: 5px;
}

.sec-3::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sec-3::-webkit-scrollbar-thumb {
  background-color: #02034d;
  border-radius: 5px;
}

.sec-3::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

.card {
  height: 400px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.card-img {
  height: 250px;
  width: 250px;
  border: 1px solid black;
}
.card-title {
  height: 30px;
  width: 100%;
  border: 1px solid black;
}
.card-p {
  height: 40px;
  width: 100%;
  border: 1px solid black;
}
.card-link {
  height: 30px;
  width: 100%;
  border: 1px solid black;
}

.side-bar {
  height: 300px;
  width: 200px;
  position: fixed;
  top: 100px;
  z-index: 999900;
  left: -500px;
  transition: left 0.4s ease;
  background: transparent;
  border-radius: 10px;
  opacity: 1;
  background: white;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.side-bar.show {
  left: 30px;
}
@media (max-width: 1500px) {
  header {
    margin-left: 25px;
    margin-right: 25px;
  }
  .ham {
    margin-left: 0px;
    opacity: 0;
    pointer-events: none;
  }
}
@media (max-width: 1050px) {
  header {
    font-size: 12px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .left {
    gap: 5px;
  }
  .card {
    height: 350px;
    width: 350px;
    padding: 5px 10px;
  }
}
@media (max-width: 800px) {
  .side-ul-elem {
    list-style-type: none;
    gap: 15px;
    width: 100%;
    padding: 5px 20px;
    text-align: center;
  }

  .side-bar > ul > li {
    width: 100%;
  }
  nav {
    font-size: x-small;
  }
  header {
    position: fixed;
    margin-left: 0;
    margin-right: 0;
  }
  section {
    height: 200vh;
    padding: 0 5px;
  }
  .card {
    height: 300px;
    width: 250px;
  }
  .ul-elem {
    opacity: 0;
    pointer-events: none;
  }
  .ham {
    margin-left: 5px;
    opacity: 1;
    pointer-events: auto;
  }
  .sbar {
    padding: 5px 10px;
    height: 35px;
  }
  .right-item-holder {
    font-size: 10px;
  }
  .icon-size {
    height: 20px;
    width: 20px;
  }
  .sec-1 {
    margin-top: 75px;
  }
  .lower-dot {
    left: 48%;
  }
  .sec-2 {
    font-size: x-small;
  }
  .sec-3 {
    height: 350px;
  }
  .sugbox {
    min-height: 30px;
    max-height: 260px;
    width: 511px;
  }
}
@media (max-width: 650px) {
  .left {
    margin-left: 25px;
    width: 20vw;
  }
  .right-item-holder {
    gap: 7px;
  }
}
@media (max-width: 450px) {
  nav {
    flex-direction: column;
    gap: 5px;
    padding: 3px 25px;
  }
  .side-bar {
    height: 229px;
    width: 125px;
    top: 150px;
  }
  .side-ul-elem {
    padding: 3px 5px;
  }
  .left {
    margin-left: 70%;
  }

  .sbar {
    padding: 5px 5px;
    height: 20px;
    width: 80vw;
    margin-left: 15px;
  }

  .right {
    display: flex;
    flex-direction: column;
  }

  header {
    padding: 12px 0 5px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  .sec-1 {
    margin-top: 130px;
    height: 290px;
    padding: 10px 10px;
    height: 200px;
  }
  .left-btn {
    left: 20px;
  }
  .right-btn {
    right: 20px;
  }
  .lower-dot {
    left: 45%;
  }
  .dot {
    height: 5px;
    width: 5px;
  }
  .sec-2 {
    font-size: x-small;
    padding: 0 10px;
    margin-top: 10px;
    height: 140px;
  }
  .card {
    height: 300px;
    width: 250px;
  }
  .sec-3 {
    height: 370px;
  }
  section {
    height: 130vh;
  }
  .card-img {
    width: 170px;
  }

  .divelem,
  .delbtn {
    font-size: 15px;
  }
  .sugelem {
    height: 34px;
    width: 260px;
    padding: 1px;
    font-size: unset;
  }
  .sugbox {
    min-height: 60px;
    max-height: 300px;
    width: 280px;
    top: 134px;
    right: 0;
  }
}
